/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    font-size: 16px; /* Базовый размер шрифта */
}

h1, h2 {
    color: #333;
    font-size: 26px; /* Увеличиваем размер шрифта на 10 пунктов */
}

p {
    color: #555;
    line-height: 1.6;
    font-size: 16px; /* Увеличиваем размер шрифта на 10 пунктов */
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Добавим стили для ваших заголовков и текста */
h2 {
    color: #007BFF;
}

/* Добавим стили для фона и отступов */
body {
    background-color: #f8f9fa;
}

/* Добавим стили для контейнера с изображением и текстом */
.container {
    max-width: 800px;
    margin: auto;
}

/* Добавим стили для разделителя между блоками */
hr {
    margin: 20px 0;
    border: 0;
    border-top: 2px solid #007BFF;
}

body {
    font-family: Arial, sans-serif;
    margin: 50px;
    background-color: #f8f9fa;
    background-image: url('backgroung.jpg'); /* Замените 'background.jpg' на ваш файл заднего фона */
    background-size: cover;
    background-position: center;
    color: #333;
}

h1, h2 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    margin: auto;
}

.container img {
    max-width: 400px;
    height: auto;
}
