

<!DOCTYPE html>
<html lang="ru">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moscow Exploration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
   .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
   .rightimg  {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
   .navbar {
      background-color: rgba(0, 0, 0, 0); /* Полностью прозрачный цвет фона */
       padding-top: 0; /* Убираем отступ сверху */
    }

    .navbar-brand,
    .nav-link {
      color: #343a40 !important; /* Темно-серый цвет текста */
      font-size: 30px; /* Увеличиваем размер шрифта на 5 пунктов */
    }



    .nav-item {
      margin-right: 20px; /* Увеличиваем расстояние между элементами */
    }

   .btn-transparent {
    color: #fff; /* Белый цвет текста */

  }

  .btn-transparent:hover {
    color: #000; /* Черный цвет текста при наведении */
    background-color: rgba(255, 255, 255, 0.5); /* Прозрачный белый фон */
    border-color: #fff; /* Белый цвет рамки при наведении */
  }
  </style>

</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!-- Используем класс "me-auto" для автоматического выравнивания элементов по левому краю -->
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Bootstrap" width="50" height="50">
    </a>
    <!-- Кнопка Главная -->
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/action">Главная</a>
    </li>
    <!-- Выпадающий список Маршруты -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Маршруты
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/first">Маршрут 1</a></li>
        <li><a class="dropdown-item" href="/second">Маршрут 2</a></li>
          <li><a class="dropdown-item" href="/third">Маршрут 3</a></li>
        <li><a class="dropdown-item" href="/forth">Маршрут 4</a></li>
        <li><a class="dropdown-item" href="/fifth">Маршрут 5</a></li>
        <li><a class="dropdown-item" href="/six">Маршрут 6</a></li>
      </ul>
    </li>
  </ul>
  <!-- Кнопки регистрации и авторизации -->
  <div>
   <a href="#" class="btn btn-primary btn-transparent me-2">Регистрация</a>
  <a href="#" class="btn btn-danger btn-transparent">Авторизация</a>
</div>
</div>
  </nav>
    </header>
    <h1>Добро пожаловать в исследование Москвы!</h1>

    <h2>Охотный Ряд</h2>
<!--    <img src="{{ url_for('static', filename='маршрут2.jpeg') }}" alt="Маршрут №5" style="float: right;">-->
    <img src="{{ url_for('static', filename='маршрут7.jpg') }}" alt="Охотный Ряд"  width="800" height="800" style="float: right;">
    <p>
        Добрый день, вечер или утро. Всем здравствуйте!<br>

Хотелось бы начать с сердца нашего города – Красной площади! А именно станция метро «Охотный Ряд». Хотелось бы рассказать немного интересного про эту станцию:<br>
1)	Станция открылась 15 мая 1935 года, одновременно с пуском метро в Москве.<br>
2)	Основным украшением станции являются белые пилоны, выполненные в виде многогранных сдвоенных колонн.<br>
3)	Путевые стены «Охотного Ряда» покрыты белой керамической глазурованной плиткой.<br>
4)	Зал освещают шаровые светильники.<br>
5)	В 1944 году был сооружён один переход из центра зала на станцию «Площадь Свердлова» Горьковского радиуса (сейчас это станция «Театральная» Замоскворецкой линии), а в 1974-м — второй. Причём каждый из них работает только в одну сторону.<br>
6)	«Охотный Ряд» находится у самых стен Кремля, здесь всегда много туристов. В дни чемпионата мира по футболу в кассы станции ежедневно обращаются около 2,5 тысячи иностранных пассажиров.<br>
7)	«Охотный Ряд» стал первой станцией Московского метрополитена, «засветившейся» в кино. В 1936 году здесь снимали легендарный «Цирк».<br>
Выйдя из метро, мы пройдемся по одной из самых известных улиц в Москве – Тверской.
Исторически Тверская улица возникла как дорога на Тверь, существовавшая предположительно с 12 века - фактически, со времён основания Москвы; позднее эта же дорога связала Москву с Новгородом.
Выходцы из Твери и Новгорода, основав вдоль дороги свою слободу, и стали первыми поселенцами в окрестностях Тверской. Изначально поселение было довольно компактным, дворы размещались вдоль улицы в пределах Белого города.
Пока мы будем идти по этой улице нам будет встречаться в основном множество зданий 20 века, но есть и исключения. Начнем путешествие с Тверской, 7. Здесь расположено здание Центрального телеграфа. Построили его в 1925–1927 годах. Фасад дома представляет собой железобетонный каркас, покрытый каменной облицовкой. На Центральном телеграфе можно увидеть один из ранних проектов герба Советского Союза: земной шар, окруженный колосьями. Сверху от него – красная звезда, а по сторонам – серп и молот. Со стороны Никитского переулка на здании располагаются часы с боем.
 Самое интересное, что именно у Тверской, 7 находится нулевой километр. Известно об этом не всем, потому что бронзовый знак нулевого километра установлен на Красной площади, и многие ошибочно думают, что отсчет дорожных расстояний в России начинается именно там. </p>

    <h2>Саввинское подворье</h2>
    <img src="{{ url_for('static', filename='сын.jpg') }}" alt="Парк Зарядье"class="leftimg">
   <p>
       От Центрального телеграфа следуем к Саввинскому подворью. С ним знакомы не все, потому что увидеть его можно, лишь войдя в арку сталинского дома № 6. Построено оно в стиле "русский теремок". Оно облицовано разноцветной керамической плиткой и выглядит сказочным в прямом смысле этого слова.
   Однако изюминка подворья даже не в красоте строения, а в его необычной истории. Дело в том, что, когда в начале прошлого столетия создавали чертежи здания, планировали, что постройка оживит и украсит Тверскую. Но в 1938 году главную улицу Москвы полностью реконструировали, а подворье массой 23 тысячи тонн передвинули на 50 метров вглубь квартала.
Это был самый тяжелый дом из всех, что когда-либо перевозили. Причем сдвинули его без отселения жильцов. Представить себе это сложно. Передвижение состоялось ночью, пока жители спали. Более того, во время переезда к дому были присоединены все временные коммуникации, так что для самих жильцов переезд оказался незаметным.
Однако изюминка подворья даже не в красоте строения, а в его необычной истории. Дело в том, что, когда в начале прошлого столетия создавали чертежи здания, планировали, что постройка оживит и украсит Тверскую. Но в 1938 году главную улицу Москвы полностью реконструировали, а подворье массой 23 тысячи тонн передвинули на 50 метров вглубь квартала.
Это был самый тяжелый дом из всех, что когда-либо перевозили. Причем сдвинули его без отселения жильцов. Представить себе это сложно. Передвижение состоялось ночью, пока жители спали. Более того, во время переезда к дому были присоединены все временные коммуникации, так что для самих жильцов переезд оказался незаметным.


   </p>


    <h2 style="margin: 200px 0 20px;">Тверская 13</h2>

    <p><img src="{{ url_for('static', filename='pamiatnic.jpg') }}" alt="Китай-город" class="rightimg" >
        Двигаемся дальше к Тверской, 13, где расположено здание мэрии Москвы, а в прошлом – дом московских генерал-губернаторов. Его, кстати, тоже сдвигали с места, потому что дом не вписывался в генплан города. С переносом было много проблем. Мэрия была построена в форме буквы "п", также в свое время к ней надстроили целый этаж с чердаком. Внутри здания находился большой зал – огромное пространство без каких-либо несущих перегородок. А это все значило, что в случае неудачи дом сложился бы, как карточный домик.
Во время переезда внутри находились люди, а также обязательно должны были работать все коммуникации и телефон. Более того, передвигалось здание вместе с подвалом, а потому был вырыт огромный котлован и пути прокладывались почти на четырехметровой глубине. Готовились к этому около месяца, а переехали за 40 минут. Здание до сих пор стоит там, куда его передвинули. В нем сохранились интерьеры XVIII века, носившие представительские функции – парадные анфилады и лестница. Само оно очень красиво и сразу бросается в глаза.


Памятник Юрию Долгорукову стоит на Тверской площади напротив здания правительства Москвы. Интересный факт – на этой небольшой площадке памятников сменилось больше, чем где-либо еще в Москве. Как писал поэт Мариенголоф, "площадь меняла памятники, как меняет мужей современная женщина". Меньше чем за полстолетия их стояло целых три.
Сначала здесь установили памятник белому генералу Михаилу Скоболеву.
Затем здесь стояла статуя Свободы

и уже в 1954 году место занял князь Юрий Долгорукий, основавший Москву.
Это место – одна из площадок столичных фестивалей. Во время ярмарок здесь раскидываются торговые палатки. Зимой на площади устанавливают самые красивые елки, а летом продают самое вкусное мороженое. Здесь проходят игры, мастер-классы, показы фильмов. Словом, пройти мимо не получится.
  </p>

    <h2 style="margin: 200px 0 20px;">Тверская 14</h2>
    <img src="{{ url_for('static', filename='haicovsky.jpg') }}" alt="Собор Петра и Павла" style="float: right;" >
    <p>
      На Тверской, 18 можно увидеть еще одно интересное здание. С 1904 по 1928 годы в доме жил книгоиздатель и просветитель Иван Сытин. Здесь же располагалась редакция его газеты "Русское слово".
В первые годы советской власти в здании размещалась редакция и типография газеты "Правда". На доме установлена мемориальная доска. А позднее здесь находилась редакция газеты "Труд".
Дальше на противоположной стороне мы можем увидеть музей современной истории. Музей современной истории России находится на улице Тверская, 21. Расположен в здании, являющимся архитектурным памятником конца XVIII века, построенном в стиле позднего русского классицизма в 1782 году. В этом особняке с 1831 по 1917 года размещался знаменитый Английский клуб. До 1998 года здание называлось Музеем революции. Является одним из крупнейших в мире музеев, посвященных новейшей истории. Управляет музеем с 2014 года генеральный директор Великанова Ирина Яковлевна.

И так мы покидаем великолепную Тверскую и отправляемся к огромному путешествию по Садовому кольцу.
Протяженность Садового кольца составляет 15,5 километров, а его история восходит к Смутному времени. Борис Годунов, стараясь спасти Москву от набегов крымского хана, повелел насыпать земляной вал, а поверх поставить дубовую стену. В последующие века вал постепенно рассыпался, и после пожара 1812 года на месте укреплений заложили кольцевую улицу.
Путешествие по Садовому кольцу с осмотром знаменитых площадей и музеев, памятников и парков перенесет вас в прошлое Москвы, поможет раскрыть тайны истории одного из красивейших городов мира. Двигаться будем по часовой стрелке.

Маяковская – одна из любимейших станций и место в Москве для многих.
Триумфальная площадь<br>

История площади начинается в 1709 году, когда в честь Полтавской битвы Петр I повелел на месте нынешней площади поставить первую Триумфальную арку. В советские времена носила название площадь Маяковского, в народе «Маяковка», а сам памятник поэту являлся символом эпохи.
Концертный зал имени Петра Ильича Чайковского, гостиница «Пекин» с башней, театр Сатиры обрели второе дыхание в 2014 году. Глобальная реконструкция облагородила старинное место, на площади появились клумбы и вымощенные дорожки, соединившие архитектурный ансамбль в единое целое.


    </p>

    <h2>Садовая-Триумфальная улица </h2>
    <img src="{{ url_for('static', filename='ylitsa.jpg') }}" alt="Хоральная синагога"  width="800" height="800" class="leftimg" >
    <p style="margin: 100px 0 20px;">
      Расположенная в северо-западной части Садового кольца, улица интересна доходными домами начала XX века. Протяженность улицы всего 565 метров, но к ней прилегают переулки с богатым прошлым. В Оружейном переулке открыт Дом Пастернака.
Рядом снимались кадры фильма «Покровские ворота» – момент, когда сносится старый дом, а с ним уходит в прошлое юность героев. На фоне обычных высотных зданий снимались сюжеты кинокартины «Где находится нофелет?».
Отдохнуть от суеты и шума Садового кольца можно в Садово-Триумфальном сквере, в котором установлен памятник Михаилу Калашникову, создателю знаменитого автомата, и имеются удобные лавочки.

Большая часть Садовых улиц получили свое название от высаженных здесь в XIX веке зеленых насаждений. На Садовой-Каретной обращает на себя внимание большое здание Театра кукол имени Сергея Образцова. Посмотреть на удивительные, регулярно оживающие часы, останавливаются все прохожие.
На четырех домах фасады украшены горельефами со средневековыми рыцарями. На доходном доме Анны Шугаевой красуется статуя рыцаря, а подъезд декорирован скульптурами львов. Рядом со зданием Министерства сельского хозяйства снималась сцена троллейбусной погони из кинофильма «Берегись автомобиля». В одном из особняков конца XIX века расположилось посольство Ливана.
Центр Москвы таит в себе интересные открытия. Самотёчная площадь, перекрытая эстакадой, потеряла свое значение, а на Самотёчной улице находится Ново-Екатерининский сквер, прогулка по которому возвратит вас во времена великих русских императоров и императриц. В парке сохранились белоснежные ротонды, гипсовые вазоны, между которыми разбиты живописные клумбы.
Место называлось в народе Самотёка по расположенному рядом пруду, через который текла река Неглинная. От Самотёчной улицы отходит несколько переулков. В каждом современные высотки создают контраст доходным домам начала прошлого века. В доме №9 по Самотёчному переулку 10 лет назад был открыт музей ГУЛАГа.
 </p>

    <h2>Садовая-Сухаревская улица</h2>
    <img src="{{ url_for('static', filename='moscwa.png') }}" alt="Хоральная синагога"  width="800" height="800" style="float: right;" >
    <p style="margin: 50px 0 0;">
И снова мы возвращаемся к съемкам любимых фильмов. Историческая достопримечательность Садовой-Самотечной улицы – дом №5, или дом Правдиной, где у подъезда дома снимался эпизод с карманником Кирпичом из киноленты «Место встречи изменить нельзя». Еще одно памятное здание на улице – дом №8/12, где в разные годы жили Василий Ливанов, Наталья Фатеева, Ролан Быков и Борис Березовский.
На нечетной стороне возвышается первый в Москве многоэтажный дом, построенный архитектором Николаем Ларионовым в 1875 году. В здании №11 сегодня располагается приемная МВД РФ, а в XIX веке, когда купчиха Ольга Мещерская продала этот дом государству, там был размещен детский сад и уездное ведомство.
Малая и Большая Сухаревские площади

На двух примыкающих друг к другу площадях вы сделаете сразу несколько замечательных открытий. Когда-то на этом месте был расположен известный на всю Москву Сухаревской рынок. Рядом стоит построенный в середине XVI века белокаменный с зелеными куполами Храм Троицы Живоначальной.
Дом Николая Шереметьева с куполом и колоннадой – истинный архитектурный шедевр Москвы. Граф повелел построить это здание с пристроенной домовой церковью ради крепостной актрисы Прасковьи Жемчуговой. Позднее она стала его законной супругой. Сегодня в доме находится один из корпусов института им. Склифософского.
Садовая-Спасская улица


Улица была названа от расположенной здесь в XVII веке Спасской слободы. Проходя по улице в наше время, вы увидите старые казармы – памятник архитектуры XVIII столетия, а также дом Саввы Мамонтова, единственное полностью сохранившееся в Москве здание городской усадьбы. Во дворе дома спрятался построенный в римско-византийском стиле флигель, в котором работал Михаил Врубель.
Привлекает внимание одна из семи сталинских высоток, возвышающаяся на 138 метров. В высотке в разные годы проживали известные люди, дважды на его фоне снимались фильмы: в 2000 году «Брат-2» и в 2016 году «Экипаж». Интерьеры дома неоднократно использовались в кинолентах.
Площадь Красные ворота

История площади уходит в далекий XVIII век, когда на этом месте были воздвигнуты деревянные Красные ворота в честь Полтавской битвы. Площадь Красные ворота известна памятником Михаилу Лермонтову в одноименном сквере. Помните знаменитое: «Кто его посадит, он же памятник?» – это как раз о нем. Рядом возвышается сталинская высотка, одна из «семи сестер».
Кроме того, вы сможете увидеть более 30-ти малых архитектурных форм, установленных при реконструкции площади в 2017 году. Красивый сквер в центре Садового кольца приятно удивляет обилием лавочек, зеленых насаждений и пешеходной зоной. Станция метро «Красные ворота» оформлена архитектором Николаем Ладовским в стиле утраченного памятника архитектуры – Триумфальной арки.


    </p>
 <h2>Павелецкая</h2>
    <img src="{{ url_for('static', filename='pavel.png') }}" alt="Хоральная синагога"  width="800" height="800" style="float: left;" >
    <p style="margin: 50px 0 0;">
Название одной из улиц Садового кольца происходит от когда-то протекавшей здесь одноименной речки Черногрязки, притока Яузы. На пересечении с Покровкой расположена площадь имени советского офицера, героя Великой Отечественной войны Цезаря Куникова.
Среди памятников архитектуры особое внимание привлекает Бывшая городская усадьба фон Дервиза. В особняке просматриваются черты итальянского Ренессанса, фасад декорирован львиными скульптурными масками. В доме №5/9 находится Музыкальный Театр Надежды Бабкиной. Рядом стоит здание – яркий представитель сталинского ампира с балюстрадой и балясинами.


Улица Земляной Вал, выходя от одноименной площади близ Москва-реки, пересекает по мосту Яузу. Площадь представляет собой смесь контрастов: от разностильных строений XVIII-XIX веков до каменных домов второй половины прошлого столетия. В двухэтажном доме XVIII века, бывшем особняке статского советника Василия Толстого, расположен «Живой музей» с интерактивной экспозицией.
Здание в стиле ампир – дом с портиком, в котором родился известный русский доктор Сергей Боткин, соседствует с Курским вокзалом. Во дворе другого здания сохранились палаты боярина Петра Матюшкина, родственника Евдокии, жены царя Алексея Михайловича. На Курском вокзале оборудована Часовня Матроны Московской.Таганская площадь
Таганская площадь ранее носила название Заяузье, на ее месте в XV веке находилась за Яузой Таганная слобода. Три раза площадь подвергалась перестройке, но большая часть исторических зданий сохранилась. И, конечно, здесь, на улице Земляной Вал, более 70-ти лет принимает зрителей Театр на Таганке. Недалеко расположен музей Владимира Высоцкого.
На Таганской площади два православных храма XVII века: Церковь Николая Чудотворца на Болвановке и Храм Успения Пресвятой Богородицы в Гончарах. 5 лет назад завершилась реконструкция дома №88, где 250 лет назад располагалась городская усадьба московского купца Василия Колесникова.
Нижняя Краснохолмская улица длиной всего 150 метров появилась на месте засыпанного в 1930 году канала и соединила два моста через Москву-реку. Интерес представляет Большой Краснохолмский мост, сооруженный в 1938 году. Протяженность моста 725 метров, самая большая из арочных мостов в Москве. Чугунные перила и ограда декорированы орнаментом.
Рядом находятся две станции метро – «Таганская» и «Павелецкая». Обе станции богато декорированы лепниной, отделкой из мрамора и памятными медальонами.

Улица Зацепский Вал была создана после ликвидации укрепленного вала в 1830-х годах. В XIX веке улица застраивалась каменными одно- и двухэтажными домами мещан и купцов. Первые многоэтажные дома появились после окончания Великой Отечественной войны.
Главная достопримечательность Зацепского Вала – Малый Краснохолмский мост через Водоотводный канал Москвы-реки. Железобетонный мост с чугунными перилами создан по проекту архитектора Виктора Кокорина в 1938 году. У лестниц, ведущих к набережной, открыты два кафе.

Павелецкая площадь меняла названия каждые два-три десятилетия. Сначала она именовалась Саратовской, затем, в 1940-х годах была переименована в Ленинскую, и только в конце прошлого столетия получила современное название. Современное здание вокзала, декорированное лепниной, было построено к 1900 году, два раза модернизировалось, но сохранило первоначальный облик.
В 2021 году Павелецкая площадь была открыта для посещения после 20-ти лет реконструкции. Перед москвичами и гостями города предстало обновленное пространство с лавочками, фонтаном, качелями и деревянными арт-объектами. Но главное приобретение Павелецкой площади – пятиуровневый подземный торговый центр «Плаза».


    </p>

     <h2>Крымский вал и Крымская площадь</h2>
    <img src="{{ url_for('static', filename='pavel.png') }}" alt="Хоральная синагога"  width="800" height="800" style="float: right;" >
    <p style="margin: 50px 0 0;">
 Валовая улица появилась на карте Москвы после сноса старинного оборонительного вала. Из достопримечательностей надо выделить дом №28, типографию издателя и предпринимателя Ивана Сытина, открытую на рубеже XIX и XX веков. Типография была признана на тот момент крупнейшей в Европе.
Рядом на улице установлен гранитный памятник работникам типографии, погибшим на фронтах Великой Отечественной войны. Кроме того, на Валовой улице вы увидите дома сталинского ампира, построенные для работников нефтяной промышленности и для НКВД. Из современных высоток выделяется четырнадцатиэтажное здание под №20, сооруженное в 2000 году и стилизованное под дома сталинского времени.

Серпуховская, она же Добрынинская, она же Карла Либкнехта площадь, занимает южную часть Садового кольца в самом центре Москвы. С 1960-х годов автомобильное движение перенесли в подземный тоннель. На площади сохранилось уникальное здание постройки XIX века: трехэтажный особняк, бывший доходный дом с лавками в нижнем этаже. В доме планируется размещение музея Малого театра.
В двухэтажном доме с флигелем, построенном в 1860-х годах купцами Макаровыми, находится Московский театр Ленсовета. Посреди площади разбит сквер с памятником узбекскому поэту Алишеру Навои. Интерьер станции метро Добрынинской, бывшей Серпуховской, декорирован мозаичными панно и барельефами.
Коровий вал

Три века назад у несуществующих ныне Серпуховских ворот располагался Коровий рынок, он и дал название улице. Исторический интерес представляет здание «Добрынинского» универмага, открытого в начале 1930-х годов и известного как «Красное Замоскворечье».
Рядом, в здании под номером 3, находится Театр Градского «Градский Холл». А в доме №7 вы найдете сразу 7 посольств: Сенегала, Гвинеи, Гватемалы, Уганды, Эритреи, Мальты и Парагвая. На Коровьем валу имеется зона отдыха, сквер, тротуары вымощены декоративной плиткой и вдоль них установлены новомодные светильники.

Название улица и площадь получили от старого Крымского рынка, популярного в XIX веке. Почему Крымского? На противоположном берегу Москвы-реки находился Крымский Посольский двор, построенный в XVII веке и принимавший послов крымского хана.
Старые дома на площади не сохранились, и главный объект для осмотра – станция метро «Парк культуры» на кольцевой линии. Более 20-ти барельефов изображают отдых счастливой молодежи в середине прошлого столетия.
Декораторы и архитекторы постарались создать в интерьере ощущение предстоящего отдыха в Парке культуры. Лепные медальоны передают портреты потенциальных отдыхающих. Черный мрамор и лабрадорит создают ощущение праздничности.

    </p>

    <h2>Смоленский бульвар и </h2>
    <img src="{{ url_for('static', filename='kud.png') }}" alt="Хоральная синагога"  width="800" height="800" style="float: left;" >
    <p style="margin: 50px 0 0;">
На Зубовском бульваре вы сразу же попадает к входу в Музей истории Москвы, здания которого – это часть комплекса «Провиантские склады» постройки позапрошлого столетия. Провиантские склады были созданы в стиле классицизма по проекту известного архитектора Федора Шестакова и более века использовались по прямому предназначению.
Советуем отдохнуть от суеты московских улиц и площадей и осмотреть коллекцию музея, в которой собраны редкие археологические и культурные артефакты. По обе стороны от музея сохранились исторические здания XIX – начала XX века.
Смоленский бульвар и Смоленско-Сенная площадь

Смоленский бульвар возник на месте старинной Ружейной слободы, а Смоленско-Сенная площадь стала историческим продолжением Смоленского рынка. Именно там Киса Воробьянинов после разгульной ночи приобрел корзинку бубликов. В этом месте Садового кольца сохранилось несколько интересных памятников архитектуры. Например, дом в стиле модерн, «Смоленский пассаж».
Возвышается на Смоленке одна из знаменитых «семи сестер», сталинских высоток, здание МИД. Перед Министерством иностранных дел облагорожен старинный сквер. На углу Арбата и Смоленской площади стоит дом, сооруженный в конструктивистском стиле, в котором ранее находился магазин Торгсин, а сегодня расположен универмаг «Смоленский» (там снимались сцены из «Мастера и Маргариты»). За ним видны богато декорированные ворота, ведущие к станции метро «Смоленская».
Новинский бульвар

Новинский бульвар в 1820-е годы был популярным в столице местом проведения народных праздников и гуляний. Вдоль него устанавливались аттракционы, качели, балаганы, выступали бродячие актеры. Особняки принадлежали аристократам, в окрестностях проживали князья Гагарины, Оболенские, а позже долгое время один из домов (№25) снимал Федор Шаляпин. Сегодня там открыт музей его имени.
На Новинском бульваре вы можете увидеть дом Оболенских постройки XVIII века, сооруженный в стиле раннего классицизма (дом №11а). Постройки №11 и 13 были в свое время удостоены золотой премии за лучший проект 1914 года. В доме №17 (конец XVIII века) родился Александр Грибоедов.
Кудринская площадь
        </p>
        <img src="{{ url_for('static', filename='planeta.jpg') }}" alt="Хоральная синагога"  width="800" height="800" style="float: right;" >
  <p>
Название площади перешло по наследству от старого села Кудрино, бывшего владения князя Серпуховского. В 1920-х годах она называлась площадью Эжена Потье, автора Интернационала, а по советским временам более запомнилась как Площадь восстания. На Кудринской вы увидите еще одну сталинскую высотку из 24-х этажей, «Дом авиаторов». В подвалах сохранились бомбоубежища и секретные подземные сооружения.
После пожара 1812 года форма площади поменялась из круглой на квадратную. В наше время самые интересные объекты Кудринской площади – памятник Федору Шаляпину и усадебный дом XIX века с расположенным в нем музеем Петра Ильича Чайковского.
Большая Садовая улица и Садово-Кудринская улица

На Большой Садовой расположено несколько доходных домов начала XX века, в одном из которых находится музей Михаила Булгакова. Нельзя не вспомнить когда-то возвышающуюся здесь загадочную Сухареву башню, называемую еще «невестой Ивана Великого», символ Москвы XIX столетия. Для ценителей современного искусства будет интересным посетить галерею современного искусства «Файн Арт».
После прогулки по старинному парку «Аквариум» с фонтанами и ресторанами советуем отправиться в Театр Сатиры, Театр Моссовета или Театр пародий, конечно, заранее позаботившись о билетах.  А также там находится Московский Планетарий - один из самых больших в мире и самый старый планетарий в России.

Поздравляю! Мы с вами прошли ВСЁ Садовое кольцо – все 15,5 километров.  Надеюсь, что вам было интересно и вам понравилось быть с нами. А на самом деле, таит невероятное количество загадок, нераскрытых тайн и увлекательных историй. Продолжайте ее изучать вместе с нами
оры и архитекторы постарались создать в интерьере ощущение предстоящего отдыха в Парке культуры. Лепные медальоны передают портреты потенциальных отдыхающих. Черный мрамор и лабрадорит создают ощущение праздничности.

    </p>
        <script src="static/bootstrap.bundle.js"></script>
</body>
</html>
