<!DOCTYPE html>
<html lang="ru">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moscow Exploration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
   .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
   .rightimg  {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
   .navbar {
      background-color: rgba(0, 0, 0, 0); /* Полностью прозрачный цвет фона */
       padding-top: 0; /* Убираем отступ сверху */
    }

    .navbar-brand,
    .nav-link {
      color: #343a40 !important; /* Темно-серый цвет текста */
      font-size: 30px; /* Увеличиваем размер шрифта на 5 пунктов */
    }



    .nav-item {
      margin-right: 20px; /* Увеличиваем расстояние между элементами */
    }

   .btn-transparent {
    color: #fff; /* Белый цвет текста */

  }

  .btn-transparent:hover {
    color: #000; /* Черный цвет текста при наведении */
    background-color: rgba(255, 255, 255, 0.5); /* Прозрачный белый фон */
    border-color: #fff; /* Белый цвет рамки при наведении */
  }
  </style>

</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!-- Используем класс "me-auto" для автоматического выравнивания элементов по левому краю -->
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Bootstrap" width="50" height="50">
    </a>
    <!-- Кнопка Главная -->
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/action">Главная</a>
    </li>
    <!-- Выпадающий список Маршруты -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Маршруты
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/first">Маршрут 1</a></li>
        <li><a class="dropdown-item" href="/second">Маршрут 2</a></li>
          <li><a class="dropdown-item" href="/third">Маршрут 3</a></li>
        <li><a class="dropdown-item" href="/forth">Маршрут 4</a></li>
        <li><a class="dropdown-item" href="/fifth">Маршрут 5</a></li>
        <li><a class="dropdown-item" href="/six">Маршрут 6</a></li>
      </ul>
    </li>
  </ul>
  <!-- Кнопки регистрации и авторизации -->
  <div>
   <a href="#" class="btn btn-primary btn-transparent me-2">Регистрация</a>
  <a href="#" class="btn btn-danger btn-transparent">Авторизация</a>
</div>
</div>
    </nav>
        </header>
        <h1>Добро пожаловать в исследование Москвы!</h1>

        <h2>Красная площадь</h2>
        <img src="{{ url_for('static', filename='red.jpg') }}" alt="Охотный Ряд" style="float: right;"width="600" height="600">
        <p>
        Добрый день, вечер или утро. Всем здравствуйте!<br>

Хотелось бы начать с сердца нашего города – Красной площади! А именно станция метро «Охотный Ряд». Хотелось бы рассказать немного интересного про эту станцию:<br>
1)  Станция открылась 15 мая 1935 года, одновременно с пуском метро в Москве.<br>
2)  Основным украшением станции являются белые пилоны, выполненные в виде многогранных сдвоенных колонн.<br>
3)  Путевые стены «Охотного Ряда» покрыты белой керамической глазурованной плиткой.<br>
4)  Зал освещают шаровые светильники.<br>
5)  В 1944 году был сооружён один переход из центра зала на станцию «Площадь Свердлова» Горьковского радиуса (сейчас это станция «Театральная» Замоскворецкой линии), а в 1974-м — второй. Причём каждый из них работает только в одну сторону.<br>
6) «Охотный Ряд» находится у самых стен Кремля, здесь всегда много туристов. В дни чемпионата мира по футболу в кассы станции ежедневно обращаются около 2,5 тысячи иностранных пассажиров.<br>
7) «Охотный Ряд» стал первой станцией Московского метрополитена, «засветившейся» в кино. В 1936 году здесь снимали легендарный «Цирк».<br>
Когда вы выйдете из метро, вы сразу же увидите здание исторического музея. Когда будете заходить в арку Иверской часовни, обратите внимание на землю. Под вашими ногами будет проходить нулевой километр. С 1920-х до 1959 года официальной точкой отсчёта расстояний по дорогам было здание Центрального телеграфа, с 1959 года — здание мавзолея на Красной площади.<br>
        Зайдя на Красную площадь слева от вас будет находится новое здание московского монетного двора. Московский монетный двор (ММД) – один из двух действующих монетных дворов в России, которые входят в Гознак. Предприятие занимается выпуском разменных, юбилейных, памятных и инвестиционных монет, производством государственных наград и знаков отличия.

    </p>

    <h2>Никольская улица</h2>
    <img src="{{ url_for('static', filename='nicolay.jpg') }}" alt="Парк Зарядье"class="leftimg">
   <p>
      Теперь завернем на одну из самых известных улочек Красной площади – Никольскую улицу. Пока не была создана Красная площадь, улица выводила к Никольским воротам Кремля. При Иоанне IV Грозном здесь был построен первый в стране Печатный двор. В 1680-е годы на базе школ при монастыре и Печатном дворе по инициативе писателя и богослова Симеона Полоцкого создали Славяно-греко-латинскую академию.
Издавна Никольская была бойким местом торговли. Возле Красной площади находились Верхние торговые ряды, вместо которых в конце XIX столетия появился ГУМ. На улицу выходили мастерские, где делали седла, иконы, железные и серебряные изделия. Неудивительно, что здесь было построено много дворов влиятельных бояр, желавших жить ближе к Кремлю.
Теперь завернем на одну из самых известных улочек Красной площади – Никольскую улицу. Пока не была создана Красная площадь, улица выводила к Никольским воротам Кремля. При Иоанне IV Грозном здесь был построен первый в стране Печатный двор. В 1680-е годы на базе школ при монастыре и Печатном дворе по инициативе писателя и богослова Симеона Полоцкого создали Славяно-греко-латинскую академию.
Издавна Никольская была бойким местом торговли. Возле Красной площади находились Верхние торговые ряды, вместо которых в конце XIX столетия появился ГУМ. На улицу выходили мастерские, где делали седла, иконы, железные и серебряные изделия. Неудивительно, что здесь было построено много дворов влиятельных бояр, желавших жить ближе к Кремлю.
Мы будем проходить мимо Государственный универсальный магазин (ГУМ) -  крупный торговый комплекс (универсальный магазин) в центре Москвы, который занимает целый квартал Китай-города и выходит главным фасадом на Красную площадь. Здание, построенное в 1893 году в русском стиле, является памятником архитектуры федерального значения и находится в федеральной собственности.
Также следом, на Никольской улице, находится оружейный подвал - это новый «контактный» музей оружия в центре Москвы. В музее семь залов. Большая часть из них посвящена отечественному стрелковому оружию, но много и иностранных экспонатов. Представлено как историческое оружие времён Первой и Второй мировых войн, так и современное. Некоторые экспонаты совсем недавно начали использоваться для вооружения Российской армии.
Помимо стрелкового оружия, в музее можно увидеть военно-полевые телефонные аппараты и полевые радиостанции для передачи посланий азбукой Морзе.
       Сразу же за ним находится Печатный двор - изначально существовал на средства казны и назывался Государевым печатным двором. Затем в 1653 году двор по царскому указу был передан духовенству, а в 1721 — в ведение Синода, типографию преобразовали в Синодальную.
Это родина книгопечатания в России. Первая датированная книга «Апостол» была выпущена в свет 1 марта 1564 года. В смуту 1611 года печатный двор сгорел, к 1620 году отстроен заново и интенсивно работал весь XVII и XVIII век, выпуская богослужебные книги и учебники.
В 1703 году по указу Петра I в типографии печатного двора вышла первая газета, положившая начало русской периодической печати. В типографии был уникальный набор шрифтов, включая коптский и сирийский.
В начале XX века там был музей печатного дела в России. Сейчас в это место можно попасть с экскурсией.


    </p>


    <h2>Большой театр</h2>

    <p><img src="{{ url_for('static', filename='big.jpg') }}" alt="Китай-город" class="leftimg" width="1000" height="500">
       А сейчас предлагаю завернуть на Богоявленский переулок и пройти до улицы Ильинки. Идя к ней, можно увидеть Троицкое подворье. По Ильинки мы пройдем до станции метро «Китай-город».

Сразу же нам откроется вид на Политехнический музей - один из старейших научно-технических музеев мира. Образован в 1872 году по инициативе Общества любителей естествознания, антропологии и этнографии при активном участии профессоров Московского университета Григория Щуровского, Анатолия Богданова и Августа Давидова. В основу фондов легли коллекции Политехнической выставки 1872 года.

Пройдем по прекрасному Музейному парку. И окажемся на Лубянке, первое на что мы обратим внимание – Центральный детский магазин (ЦДМ). ЦДМ - самый большой специализированный детский торговый комплекс в России. Здание было построено в 1953–1957 годах в центре Москвы, на площади Дзержинского (с 1990 года — Лубянская площадь) по проекту архитектора Алексея Николаевича Душкина. Магазин, открытый 6 июня 1957 года, стал самым большим детским магазином в СССР и первым торговым сооружением, сделанным по мировым стандартам.

Чуть-чуть пройдем по театральному проезду. И окажемся на театральной площади, на которой находятся известнейшие театры России. Два из них – Большой и Малый театры – один из которых вы могли видеть на 100-рублевой купюре. Изначально Большой театр был частным, но с 1794 года стал казённым, составляющим вместе с Малым единую московскую труппу императорских театров. Время от времени статус московской труппы менялся: она то переходила в подчинение московскому генерал-губернатору, то вновь — под петербургскую дирекцию. Так продолжалось до революции 1917 года, когда все имущество было национализировано и произошло полное разделение Малого и Большого театров.
Вся история театральной культуры Москвы долгие годы была связана с Большим театром.<br>
Интересные факты:<br>
1)  Первое его здание стояло на улице Петровка, поэтому театр назывался Петровским. Точнее, первое построенное, которое было вторым проектом по счёту. Первый проект так и не завершили из-за пожара, уничтожившего недостроенное здание. Современное нам здание Большого театра является уже четвёртым по счёту.<br>
2)  Одной из самых узнаваемых деталей его интерьера являются люстры. Во время Великой Отечественной войны они уцелели лишь чудом, так как их сняли и вывезли в безопасное место всего за день до того, как в здание попала авиационная бомба, единственная за всю войну. Она не разрушила строение, но люстры всё равно вряд ли пережили бы её попадание.<br>
3)  А также в его театральную труппу входит более тысячи артистов.<br>
Также на театральной площади и недалеко от нее находится еще два известный театр Москвы – Российский академический молодёжный театр(РАМТ) и Московский государственный академический театр оперетты. Также на площади видно здание Центральный универсальный магазин (ГУМ).
</p>

    <h2 style="margin: 50px 0 20px;">Моховая улица и Библиотека Им. Ленина</h2>
    <img src="{{ url_for('static', filename='peter_paul_cathedral.jpg') }}" alt="Собор Петра и Павла" style="float: right;" >
    <p>
      Пройдя по улице Охотный ряд и по улице Моховая, мы увидим Геологический музей им. Вернадского, необычное здании Татьянинской церкви.  Это домовый православный храм при Московском государственном университете имени М. В. Ломоносова. Главный престол освящён в честь святой мученицы Татианы Римской, нижний храм — в честь святителя Филарета Московского, приставной престол — в честь Собора трёх святителей.

Дальше идет величественное здание Манежа – историческое здание и главная выставочная площадка, которая работает по сей день. В ней организуются выставки, концерты, перформансы, лекционные курсы.

Моховая улица проведет нас до библиотеки им. Ленина - самая крупная публичная библиотека в стране и одна из крупнейших в мире.

Она была основана в 1862 году. Фонды пополнялись за счёт библиотек Петербурга и стараний москвичей, передававших ценные рукописи и издания в дар. С 1921 года библиотека стала национальным книгохранилищем. Через три года учреждению присвоили имя Ленина.

Также в здании библиотеки находится музей книги. А в ней находится более 30-ти читальных залов

    </p>

    <h2>Дом Пашкова и Музей им. Пушкина</h2>
    <img src="{{ url_for('static', filename='pyshlin.jpg') }}" alt="Хоральная синагога"  width="600" height="600" class="leftimg" >
    <p style="margin: 100px 0 20px;">
       Следующее задние, которое мы увидим – Дом Пашкова. Это памятник архитектуры классицизма в Москве, бывшее главное здание городской усадьбы. Входит в комплекс зданий Российской государственной библиотеки. Д. П. – одна из вертикальных доминант центра Москвы; находится на Ваганьковском холме. Ориентирован фасадом на Боровицкую башню Кремля. Построен в 1784–88 по заказу дворянина П. Е. Пашкова (1721 – ок. 1790). Традиционно приписывается арх. В. И. Баженову.   </p>
         Перейдем на улицу Волхонку и пройдем по ней 400 метров. Перед нами откроется здании Государственный музей изобразительных искусств имени А. С. Пушкина - российский государственный художественный музей в Москве, одно из крупнейших в современной России собраний западного искусства. Созданный по инициативе историка и археолога, профессора Московского университета И. В. Цветаева, музей был открыт в 1912 году под названием «Музей изящных искусств имени императора Александра III при Императорском Московском университете». Главное здание музея было построено по проекту архитектора Романа Клейна в неоклассическом стиле в виде античного храма. Изначально музей был задуман как учебный, однако после революции 1917 года учреждение было преобразовано в Государственный музей изобразительных искусств. В 1937 году музей получил имя поэта Александра Пушкина. В 1991 году ГМИИ имени Пушкина внесли в Государственный свод особо ценных объектов культурного наследия народов Российской Федерации.
Улица Волхонка очень богата на музеи и галереи. Поэтому на какой дом не посмотри – будет либо галерея, либо музей.

    <h2>Храм Христа Спасителя</h2>
    <img src="{{ url_for('static', filename='kersota.jpg') }}" alt="Хоральная синагога"  width="600" height="600" style="float: right;" >
    <p style="margin: 50px 0 0;">

        А сейчас мы будем заканчивать и спускаться на станцию метро «Кропоткинскую», смотря на Храм Христа Спасителя, с котором есть множество разных историй. Одной из таких историй является идея о сносе храма и строительстве на его месте Дворца Советов – неосуществлённый и очень масштабный проект строительства высотного административного здания в Москве для проведения сессий Верховного Совета СССР и массовых демонстраций. План архитектора Бориса Иофана предполагал, что высота Дворца Советов вместе с венчающей его стометровой статуей Владимира Ленина составит 415 м. Дворец должен был стать центром новой советской Москвы и самым высоким зданием в мире, символизирующим победу социализма. Проектирование и начало строительства дворца ознаменовало переход к сталинскому ампиру в советской архитектуре. </p>
        <script src="static/bootstrap.bundle.js"></script>
</body>
</html>
