

<!DOCTYPE html>
<html lang="ru">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moscow Exploration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
   .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
   .rightimg  {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
   .navbar {
      background-color: rgba(0, 0, 0, 0); /* Полностью прозрачный цвет фона */
       padding-top: 0; /* Убираем отступ сверху */
    }

    .navbar-brand,
    .nav-link {
      color: #343a40 !important; /* Темно-серый цвет текста */
      font-size: 30px; /* Увеличиваем размер шрифта на 5 пунктов */
    }



    .nav-item {
      margin-right: 20px; /* Увеличиваем расстояние между элементами */
    }

   .btn-transparent {
    color: #fff; /* Белый цвет текста */

  }

  .btn-transparent:hover {
    color: #000; /* Черный цвет текста при наведении */
    background-color: rgba(255, 255, 255, 0.5); /* Прозрачный белый фон */
    border-color: #fff; /* Белый цвет рамки при наведении */
  }
  </style>

</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!-- Используем класс "me-auto" для автоматического выравнивания элементов по левому краю -->
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Bootstrap" width="50" height="50">
    </a>
    <!-- Кнопка Главная -->
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/action">Главная</a>
    </li>
    <!-- Выпадающий список Маршруты -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Маршруты
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/first">Маршрут 1</a></li>
        <li><a class="dropdown-item" href="/second">Маршрут 2</a></li>
          <li><a class="dropdown-item" href="/third">Маршрут 3</a></li>
        <li><a class="dropdown-item" href="/forth">Маршрут 4</a></li>
        <li><a class="dropdown-item" href="/fifth">Маршрут 5</a></li>
        <li><a class="dropdown-item" href="/six">Маршрут 6</a></li>
      </ul>
    </li>
  </ul>
  <!-- Кнопки регистрации и авторизации -->
  <div>
   <a href="#" class="btn btn-primary btn-transparent me-2">Регистрация</a>
  <a href="#" class="btn btn-danger btn-transparent">Авторизация</a>
</div>
</div>
  </nav>
    </header>
    <h1>Добро пожаловать в исследование Москвы!</h1>

    <h2>Охотный Ряд</h2>
<!--    <img src="{{ url_for('static', filename='маршрут2.jpeg') }}" alt="Маршрут №5" style="float: right;">-->
    <img src="{{ url_for('static', filename='маршрут5.jpeg') }}" alt="Охотный Ряд" style="float: right;">
    <p>
        Добрый день, вечер или утро. Всем здравствуйте!<br>

Начнем наше путешествие с сердца нашего города – Красной площади. Специально хотелось бы обратить внимание на станцию метро «Охотный Ряд». Эта станция открылась 15 мая 1935 года, одновременно с пуском метро в Москве. Основным украшением станции являются белые пилоны, выполненные в виде многогранных сдвоенных колонн. Путевые стены «Охотного Ряда» покрыты белой керамической глазурованной плиткой, а зал освещают шаровые светильники. В 1944 году был сооружён один переход из центра зала на станцию «Площадь Свердлова» Горьковского радиуса (сейчас это станция «Театральная» Замоскворецкой линии), а в 1974-м — второй. Причём каждый из них работает только в одну сторону. «Охотный Ряд» находится у самых стен Кремля, здесь всегда много туристов. В дни чемпионата мира по футболу в кассы станции ежедневно обращаются около 2,5 тысячи иностранных пассажиров. «Охотный Ряд» стал первой станцией Московского метрополитена, «засветившейся» в кино. В 1936 году здесь снимали легендарный «Цирк».

После выхода из метро мы отправляемся посетить одну из главных достопримечательностей нашего города – Красную Площадь! По подробнее можно погулять по ней используя один из наших маршрутов.
    </p>

    <h2>Парк Зарядье</h2>
    <img src="{{ url_for('static', filename='zaradye.jpg') }}" alt="Парк Зарядье"class="leftimg">
   <p>
        Далее мы отправляемся в Парк Зарядье. Очень красивое и впечатляющее место. Тут проходит множество городских мероприятий, концертов. Интересные факты:<br>
    </p>
    <p style="text-indent: 20px;">
        1)У нас в городе есть множество гостиниц, одна из них – гостиница «Украина». А парк построен на месте другой гостиницы, обозначающей также страну - «Россия», которая долгое время считалась самой крупной в мире.<br></p>
    <p style="text-indent: 20px;">
        2)Строительство парка длилось с 2014 по 2017 год и обошлось в 14 млрд рублей.<br></p>

    <p style="text-indent: 20px;">
        3)В территорию парка удачно вписались исторические здания. Всего здесь находятся 11 объектов, представляющих историческую и культурную ценность.<br></p>
    <p style="text-indent: 20px;">
        4)В центральной части парка расположен крупный медиацентр с аттракционами «Полет над Москвой» и «Полет над Россией».<br></p>
    <p style="text-indent: 20px;">
        5)На территории парка можно увидеть четыре природные зоны России, расположенные на разных уровнях: смешанный лес, северный ландшафт, степь и заливные луга.<br>
    </p>


    <h2 style="margin: 200px 0 20px;">Китай-город и Ильинский собор</h2>

    <p><img src="{{ url_for('static', filename='maroseyka.jpeg') }}" alt="Китай-город" class="leftimg" >
        После этого мы приближаемся к станции метро «Китай-город». Название станции вызывает много вопросов. По одной из версий топоним происходит от слова «кита», обозначавшее связанные вместе жерди, из которых строились укрепления. По другим есть связь с тюркским «катай» или с итальянским «citta delle» в значении крепость или город. Часть исследователей придерживается мнения, что наименование пришло из простонародного названия большого рынка в этой части города.<br>

Дальше мы пройдемся по Ильинскому скверу. Ильинский сквер — небольшой исторический сквер в центре Москвы, разбитый в 1882 году. Он расположен внутри прямоугольника, образованного проезжей частью площади Ильинские Ворота, Старой и Славянской площадей и Лубянского проезда. Сквер представляет собой озеленённое пространство с извилистыми аллеями и лавочками. Его территория является памятником садово-паркового искусства. На противоположных концах сквера расположены два памятника: в северной части у площади Ильинские Ворота — памятник героям Плевны, в южной у Славянской площади — памятник Кириллу и Мефодию. В летние месяцы сквер становится популярен как место уединённого отдыха.
    </p>

    <h2 style="margin: 200px 0 20px;">улица Маросейка</h2>
    <img src="{{ url_for('static', filename='peter_paul_cathedral.jpg') }}" alt="Собор Петра и Павла" style="float: right;" >
    <p>
        Дальше посетим улицу Маросейку.<br>
      Маросейка является частью древней Покровской улицы и получила своё название в XVII веке по Малороссийскому подворью (с искажением Малоросейка — Маросейка), которое находилось на углу Маросейки и Большого Златоустинского переулков, на месте нынешних домов 9 и 11. В подворье останавливались приезжавшие из Малороссии купцы, дипломаты, духовные деятели и другие.
В XVII веке Маросейка простиралась до Покровских ворот. Деление старой Покровки на Покровку и Маросейку установилось в первой половине XIX века (на атласе 1853 года улицы показаны в их нынешних границах).
6 января 1954 года постановлением Моссовета в ознаменование 300-летия воссоединения Украины с Россией Маросейка была переименована в улицу Богдана Хмельницкого. В 1990 году улице было возвращено историческое наименование.
В 1900-е—1910-е годы Маросейку перестраивают архитекторы И. А. Иванов-Шиц и М. С. Лялевич, но большая часть улицы и по сей день сохраняет застройку первой половины XIX века.
    </p>

    <h2>Хоральная синагога и Собор Петра и Павла</h2>
    <img src="{{ url_for('static', filename='synagogue.jpg') }}" alt="Хоральная синагога"  width="600" height="600" class="leftimg" >
    <p style="margin: 100px 0 20px;">
       Свернув на право по этой улице можно оказаться близь Собора Петра и Павла. Приход церкви святых Петра и Павла в Москве — один из старейших лютеранских приходов в России. Собор является одной из двух действующих официальных лютеранских церквей в Москве, наряду с церковью Святой Троицы на Введенском кладбище. За Собором Петра и Павла виднеется Палаты Мазепы — жилые помещения, расположенные в Москве в Колпачном переулке, дом № 10, построенные в XVI—XVII веках. Один из древнейших памятников московского гражданского зодчества. Своё название получили от того, что долгое время ошибочно считались домом, где проживал гетман Иван Мазепа при посещении Москвы.<br>

Можно чутка пройти дальше по дворам и также на этой стороне можно посетить Хоральную синагогу – одну из шести во всей Москве. Московская Хоральная синагога или Хоралка (так ее называют московские евреи) была открыта в 1906 году в Спасоглинищевском переулке в центре Москвы. Это разновидность синагоги, в которой поет мужской хор. Место было выбрано неслучайно. Рядом в Зарядье было еврейское поселение и оттуда можно было пройтись пешком. Здание синагоги представляет собой купольную базилику. Парадный фасад имеет глубокую лоджию входа и портик из восьми спаренных колонн.
    </p>

    <h2>Троицкая церковь</h2>
    <img src="{{ url_for('static', filename='troizkaya.jpg') }}" alt="Хоральная синагога"  width="600" height="600" style="float: right;" >
    <p style="margin: 50px 0 0;">

        Идя по дворам, мы увидим Троицкую церковь, которая является не единственной в Москве. Но мы проходим и выходим на Милютинский сад. К зданиям примыкал старинный сад, который и стал садом Межевой канцелярии. Он выходил на Покровский бульвар, но был закрыт для публики. Зайти в него можно было только через двор канцелярии. Этот проход сохранился до сих пор. К ценным градостроительным объектам относятся жилой дом и флигель Городской усадьбы Е. А. Лобановой-Ростовской — владение Межевой канцелярии. Только в 1917 году стал публичным. В 1932 году сад был передан Всекопромсовету и получил имя В. П. Милютина. Для входа в него с Покровского бульвара сделали ворота.
    Дальше мы отправимся по замечательному Покровскому скверу. По левую сторону от нас будет расположено здание Высший Школы Экономики (ВШЭ) – один из известнейших и престижных вузов страны.<br>
    Пройдя через Яузский бульвар, мы окажемся на Устьинском сквере. Нам откроется потрясающий вид на Высотное здание сталинской эпохи, которое находится на Котельнической набережной. Высотное здание на Котельнической набережной — одно из самых удачных среди семи высотных зданий столицы. Оно было построено в 1949–1952 годах архитекторами Д.Н. Чечулиным и А.К. Ростковским. Здание представляет собой жилой дом, включающий в себя 540 квартир, 10 общежитий, магазины и кинотеатр. Ансамбль состоит из центральной высотной части в 24 этажа и боковых корпусов 8–12-этажной высоты.<br>
    Дальше мы пройдемся до станции метро «Новокузнецкая» и будем наблюдать архитектуру Москвы 20 века. После спустимся по Пятницкой улице к Храму священномученика Климента Папы Римского Русской православной церкви - православный храм в честь Священномученика Климента, расположенный в Москве на пересечении Климентовского переулка и улицы Пятницкой. Является крупнейшим в Замоскворечье храмом. Его главный престол освящён в честь Преображения Господня и вторым названием церкви является храм Спаса Преображения. Нынешнее здание храма было построено в 1770 году<br>
   Мы дошли до конечно нашей точки и оказались на станции метро «Октябрьская». Станция «Октябрьская» Кольцевой линии — настоящий подземный храм. Станция была открыта 1 января 1950 года и посвящена памяти советских солдат, павших в Великой Отечественной. — Архитектор Леонид Поляков, автор проекта, хоть и был, конечно, советским человеком, но оформил станцию в виде храма с алтарем, — рассказывает москвовед Владимир Муравьев.
И на этом наша прогулка подходит к концу. Мы были рад провести это время с вами. Всего вам доброго!</p>

        <script src="static/bootstrap.bundle.js"></script>
</body>
</html>
