{% extends "main.html" %}

{% block content %}
    <h1 class="work">Комментарии</h1>
    {% for i in Coms %}
        <h2 class="action">Комментарий # {{i.id}}</h2>
        <table class="comment-table"> <!-- Добавляем класс для стилизации таблицы -->
            <tr class="up">
                <td>Маршрут</td>
                <td>Комментарий</td>
                <td>Оценка</td>
            </tr>
            <tr class="low">
                <td>{{i.Name}}</td>
                <td>{{i.Comm}}</td>
                <td>{{i.Mark}}</td>
            </tr>
        </table>
        <br> <!-- Добавляем перенос строки после каждой таблицы -->
        {# Это многострочный комментарий к комментарию #}
    {% endfor %}
{% endblock %}
