{% extends "main.html" %}

{% block content %}
<h1 class="work">Works log</h1>
    {% for i in jobs %}
        <h2 class="action">Action # {{i.id}}</h2>
        <table>
            <tr class="up">
                <td>Title</td>
                <td>Leader</td>
                <td>Duration</td>
                <td>List</td>
                <td>Finished</td>
            </tr>
            <tr class="low">
                <td>{{i.job}}</td>
                <td>{{i.team_leader}}</td>
                <td>{{i.work_size}} hours</td>
                <td>{{i.collaborato}}</td>
                <td>{{i.is_finished}}</td>
            </tr>
        </table>
    {% endfor %}



{% endblock %}