{% extends "main.html" %}

{% block content %}
<h1 class="work">Комментарии</h1>
    {% for i in Coms %}
        <h2 class="action">Action # {{i.id}}</h2>
        <table>
            <tr class="up">
                <td>Маршрут</td>
                <td>Комментарий</td>
                <td>Оценка</td>
            </tr>
            <tr class="low">
                <td>{{i.name}}</td>
                <td>{{i.Comm}}</td>
                <td>{{i.Mark}}</td>
            </tr>
        </table>
    {% endfor %}



{% endblock %}