

<!DOCTYPE html>
<html lang="ru">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moscow Exploration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
   .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
   .rightimg  {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
   .navbar {
      background-color: rgba(0, 0, 0, 0); /* Полностью прозрачный цвет фона */
       padding-top: 0; /* Убираем отступ сверху */
    }

    .navbar-brand,
    .nav-link {
      color: #343a40 !important; /* Темно-серый цвет текста */
      font-size: 30px; /* Увеличиваем размер шрифта на 5 пунктов */
    }



    .nav-item {
      margin-right: 20px; /* Увеличиваем расстояние между элементами */
    }

   .btn-transparent {
    color: #fff; /* Белый цвет текста */

  }

  .btn-transparent:hover {
    color: #000; /* Черный цвет текста при наведении */
    background-color: rgba(255, 255, 255, 0.5); /* Прозрачный белый фон */
    border-color: #fff; /* Белый цвет рамки при наведении */
  }

    .center {
  text-align: center;
}


        table {
  width: 650px;
  border-top: 7px solid rgb(255, 255, 0);
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
}

td {
  text-align: left;
	padding: 10px;
}

.up {
    background-color: rgb(255, 255, 255);
}

.low {
    background-color: rgb(255, 182, 193);
}

.work, .mis, .col {
    text-align: center;
}

.action {
    margin-top: 10px;
}

.log {
  background-color: rgb(0, 119, 255);
  margin: 0 auto;
  display: block;
}

p {
  text-align: center;
}


.comment-table {
        clear: both;
        width: 100%;
    }

  </style>

</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!-- Используем класс "me-auto" для автоматического выравнивания элементов по левому краю -->
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="navbar-brand" href="/">
      <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Bootstrap" width="50" height="50">
    </a>
    <!-- Кнопка Главная -->
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Главная</a>
    </li>
    <!-- Выпадающий список Маршруты -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Маршруты
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/first">Маршрут 1</a></li>
        <li><a class="dropdown-item" href="/second">Маршрут 2</a></li>
          <li><a class="dropdown-item" href="/third">Маршрут 3</a></li>
        <li><a class="dropdown-item" href="/forth">Маршрут 4</a></li>
        <li><a class="dropdown-item" href="/fifth">Маршрут 5</a></li>
        <li><a class="dropdown-item" href="/six">Маршрут 6</a></li>
      </ul>
    </li>
  </ul>
  <!-- Кнопки регистрации и авторизации -->
  <div>
      {% if current_user.is_authenticated %}
            <a class="btn btn-link" href="/logout">{{ current_user.name }}</a>
            <a href="/comm" class="btn btn-secondary">Добавить комментарий</a>
      {% else %}
           <a href="/register" class="btn btn-primary btn-transparent me-2">Регистрация</a>
          <a href="/login" class="btn btn-danger btn-transparent">Авторизация</a>
      {% endif %}
</div>
</div>
 </nav></header>
    <h1>Описание</h1>

    <p class="leftimg">
        Добро пожаловать на сайт "Путеводитель по Москве"! Здесь вы найдете увлекательные туристические маршруты и сможете поделиться своими впечатлениями о путешествиях по столице России.</br>
Наш сайт предлагает широкий выбор маршрутов, позволяющих погрузиться в богатую историю, культуру и атмосферу Москвы. Вы сможете выбрать маршрут по своим интересам, ознакомиться с подробной информацией о достопримечательностях и местах, которые предлагается посетить, а также узнать о длительности и типе маршрута.</br>
Наши возможности:</br>

   •  Просмотр доступных туристических маршрутов с описанием и изображениями.</br>
   •  Получение подробной информации о каждом маршруте: его особенностях, интересных местах и исторических фактах.</br>
   •  Возможность добавления комментариев к маршрутам для обмена опытом и советами с другими пользователями.</br>
   •  Регистрация и аутентификация, чтобы получить доступ ко всем функциям сайта.</br>
   •  Присоединяйтесь к нам и начните свое увлекательное путешествие по Москве вместе с нами!       </p>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="3000">
        <a class="navbar-brand d-flex justify-content-center" href="/first">
            <img src="{{ url_for('static', filename='maroseyka.jpeg') }}" alt="Bootstrap" class="d-block w-95">
        </a>
        <div class="carousel-caption d-none d-md-block position-absolute top-5 start-50 translate-middle-x text-black" style="padding: 20px; width: 65%; background: none;">
            <h5 style="font-weight: bold;">Маршрут 1</h5>
            <a href="/first" class="btn btn-primary" style="background-color: rgba(255, 255, 255, 0.35 ); border: none; color: black;" ><b>🌟 Добро пожаловать на увлекательную экскурсию по историческим и культурным достопримечательностям Москвы! 🌟</br>
            Давайте отправимся в увлекательное путешествие по сердцу столицы России, чтобы погрузиться в богатую историю, красоту архитектуры и многообразие культурных традиций. Готовы погрузиться в мир удивительных впечатлений и открытий?</br>
            🚶‍♂️ Вступление: Начнем на станции метро "Библиотека им. Ленина" и пройдемся по истории и культуре, начиная с Библиотеки им. Ленина, исторического Дома Пашкова и улицы Волхонка.</br>
            🏛️ Экскурсия: В ходе нашего путешествия мы посетим такие знаковые места, как Государственный музей изобразительных искусств им. А.С. Пушкина, Храм Христа Спасителя, а также прогуляемся по Пречистенской набережной и перейдем Крымский мост.</br>
            🌳 Заключение: Завершим наше путешествие в Парке Зарядье, ощутив атмосферу современного Москвы, но не забудем заглянуть в прошлое, посетив Красную площадь и ГУМ.</br>
            Готовы окунуться в удивительный мир Москвы? Давайте отправимся в это увлекательное путешествие вместе!</a>
        </div>
    </div>

    <div class="carousel-item active" data-bs-interval="3000">
        <a class="navbar-brand d-flex justify-content-center" href="/second">
            <img src="{{ url_for('static', filename='pamiatnic.jpg') }}" alt="Bootstrap" class="d-block" width="1000" height="1000">
        </a>
        <div class="carousel-caption d-none d-md-block position-absolute top-25 start-50 translate-middle-x text-black" style="padding: 20px; width: 56%; background: none;">
            <h5 style="font-weight: bold; color: white;">Маршрут 2</h5>
            <a href="/second" class="btn btn-primary" style="background: none; border: none; color: white   ;" ><b>🚶‍♂️ Начало: Наше путешествие начнется на станции метро "Лубянка", где мы погрузимся в атмосферу исторического центра Москвы. Отсюда мы отправимся на прогулку по улицам, окруженным архитектурными шедеврами и заполненным воздухом истории.</br>
🏛️ Исследование: В ходе нашего путешествия мы посетим значимые места, такие как Государственный исторический музей, Музей Маяковского, а также прогуляемся по памятным местам революционной истории на Пушкинской площади.</br>
🎨 Культурное наследие: Не упустим возможности погрузиться в мир искусства, посетив Музей современного искусства "Гараж" и насладившись уличными художественными инсталляциями на Покровке.</br>
🌆 Завершение: Путешествие закончим на станции метро "Баррикадная", где мы ощутим дух современной Москвы, с ее высокими небоскребами и живописными скверами. Здесь, на пересечении улиц и историй, мы завершим наше захватывающее путешествие.</a>
        </div>
    </div>
    <div class="carousel-item active" data-bs-interval="3000">
        <a class="navbar-brand d-flex justify-content-center" href="/third">
            <img src="{{ url_for('static', filename='haicovsky.jpg') }}" alt="Bootstrap" class="d-block" width="800" height="600">
        </a>
        <div class="carousel-caption d-none d-md-block position-absolute top-5 start-50 translate-middle-x text-black" style="padding: 20px; width: 65%; background: none;">
            <h5 style="font-weight: bold;">Маршрут 3</h5>
            <a href="/third" class="btn btn-primary" style="background: rgba(255, 255, 255, 0.2 ); border: none; color: black;" ><b>🚶‍♂️ Начало: Наше путешествие начнется на станции метро "Александровский сад", где мы окунемся в атмосферу исторического центра Москвы. Пройдя по парадному входу, мы отправимся на прогулку по улице Смоленская, омываемой потоками времени и исторических событий.</br>
🏛️ Исследование: В ходе нашего путешествия мы посетим множество значимых мест, таких как Памятник Петру I, Смоленская площадь, Музей современного искусства "Гараж", где мы сможем насладиться яркими экспонатами искусства современности.</br>
🎨 Культурное наследие: Продолжим наше путешествие, пройдя по улице Кропоткинская, где располагается множество культурных центров и галерей, таких как Музей истории Москвы и Государственный исторический музей.</br>
🌆 Завершение: Путешествие закончим на станции метро "Кропоткинская", где мы ощутим дух современной Москвы, с ее высокими небоскребами и живописными скверами. Здесь, на пересечении улиц и историй, мы завершим наше захватывающее путешествие.</a>
        </div>
    </div>
    <div class="carousel-item active" data-bs-interval="3000">
        <a class="navbar-brand d-flex justify-content-center" href="/forth">
            <img src="{{ url_for('static', filename='Центр Москвы.jpg') }}" alt="Bootstrap" class="d-block" width="800" height="600">
        </a>
        <div class="carousel-caption d-none d-md-block position-absolute top-5 start-50 translate-middle-x text-black" style="padding: 20px; width: 65%; background: none;">
            <h5 style="font-weight: bold;">Маршрут 4</h5>
            <a href="/forth" class="btn btn-primary" style="background: none; border: none; color: black;" ><b>🚶‍♂️ Начало: Наше путешествие начнется на станции метро "Охотный ряд", где мы погрузимся в атмосферу центрального района Москвы. Пройдя через арки Торгового центра "Охотный ряд", мы начнем наше исследование исторического центра города.</br>
🏛️ Исследование: В ходе нашего путешествия мы посетим множество значимых мест, таких как Площадь Революции, Государственный исторический музей, а также прогуляемся по бульварам, полным архитектурных шедевров и исторических памятников.</br>
🎨 Культурное наследие: Продолжим наше путешествие, пройдя по улице Новый Арбат, где расположены множество культурных центров, ресторанов и галерей. Здесь мы сможем насладиться местным искусством и атмосферой современной Москвы.</br>
🌆 Завершение: Путешествие завершим на станции метро "Октябрьская", где мы ощутим дух современного мегаполиса, с его оживленными улицами и неповторимой атмосферой. Здесь, в самом сердце города, мы закончим наше захватывающее путешествие.</a>
        </div>
    </div>
    <div class="carousel-item active" data-bs-interval="3000">
        <a class="navbar-brand d-flex justify-content-center" href="/fifth">
            <img src="{{ url_for('static', filename='ylitsa.jpg') }}" alt="Bootstrap" class="d-block" width="800" height="600">
        </a>
        <div class="carousel-caption d-none d-md-block position-absolute top-5 start-50 translate-middle-x text-black" style="padding: 20px; width: 65%; background: none;">
            <h5 style="font-weight: bold;">Маршрут 5</h5>
            <a href="/fifth" class="btn btn-primary" style="background: rgba(255, 255, 255, 0.2 ); border: none; color: black;" ><b>🚶‍♂️ Начало: Наше путешествие начнется на станции метро "Охотный ряд", где мы окунемся в атмосферу центрального района Москвы. Пройдя по историческим улицам, мы направимся к Александровскому саду, наслаждаясь зеленью и спокойствием этого уголка города.</br>
🏛️ Исследование: В ходе нашего путешествия мы посетим значимые места, такие как Площадь Революции, Государственный исторический музей, а также прогуляемся по Пушкинской набережной, где можно насладиться потрясающими видами на Москву-реку.</br>
🎨 Культурное наследие: Продолжим наше путешествие, пройдя через Александровский сад, где располагается Музей Москвы и другие культурные центры. Здесь мы сможем погрузиться в историю города и насладиться его архитектурными шедеврами.</br>
🌆 Завершение: Путешествие завершим на станции метро "Кропоткинская", где мы ощутим дух современной Москвы, с её высокими небоскрёбами и современной архитектурой. Здесь, среди суеты большого города, мы закончим наше увлекательное путешествие.</a>
        </div>
    </div>
    <div class="carousel-item active" data-bs-interval="3000">
        <a class="navbar-brand d-flex justify-content-center" href="/six">
            <img src="{{ url_for('static', filename='20a.jpg') }}" alt="Bootstrap" class="d-block" width="800" height="600">
        </a>
        <div class="carousel-caption d-none d-md-block position-absolute top-5 start-50 translate-middle-x text-black" style="padding: 20px; width: 65%; background: none;">
            <h5 style="font-weight: bold;">Маршрут 6</h5>
            <a href="/six" class="btn btn-primary" style="background: rgba(255, 255, 255, 0.2 ); border: none; color: black;" ><b>🚶‍♂️ Начало: Наше путешествие начнется на станции метро "Охотный ряд", в самом центре Москвы. Отсюда мы отправимся к Театральной площади, где находится Большой театр, символ роскоши и культуры.</br>
🏛️ Исследование: Продолжая путь, мы посетим ряд исторических площадей, включая Пушкинскую площадь, Чистые пруды и Трубную площадь. Здесь можно насладиться архитектурным разнообразием и проникнуться атмосферой старой Москвы.</br>
🎨 Культурное наследие: Проходя через Патриаршие пруды и Цветной бульвар, мы погрузимся в культурную жизнь города, посещая галереи, театры и кафе. Московское садовое кольцо - это не только история, но и современная культурная столица.</br>
🌆 Завершение: Путешествие завершим на станции метро "Кропоткинская", где мы ощутим дух современной Москвы с ее высокими небоскребами и оживленными улицами. Здесь, в центре столицы, мы закончим наше увлекательное путешествие.</a>
        </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Предыдущий</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Следующий</span>
  </button>
</div>


    <h1 class="work">Комментарии</h1>
    {% for i in Coms %}
        <h2 class="action">Комментарий # {{i.id}}</h2>
        <table class="comment-table">
            <tr class="up">
                <td>Маршрут</td>
                <td>Комментарий</td>
                <td>Оценка</td>
            </tr>
            <tr class="low">
                <td>{{i.Name}}</td>
                <td>{{i.Comm}}</td>
                <td>{{i.Mark}}</td>

            </tr>
        </table>
        <br>
    {% endfor %}


    <script src="static/bootstrap.bundle.js"></script>


</body>
</html>
