<!DOCTYPE html>
<html lang="ru">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moscow Exploration</title>
    <link rel="stylesheet" href="static/bootstrap.css">
    <link rel="stylesheet" href="static/styles.css">
    <style>
   .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
   .rightimg  {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
   .navbar {
      background-color: rgba(0, 0, 0, 0); /* Полностью прозрачный цвет фона */
       padding-top: 0; /* Убираем отступ сверху */
    }

    .navbar-brand,
    .nav-link {
      color: #343a40 !important; /* Темно-серый цвет текста */
      font-size: 30px; /* Увеличиваем размер шрифта на 5 пунктов */
    }



    .nav-item {
      margin-right: 20px; /* Увеличиваем расстояние между элементами */
    }

   .btn-transparent {
    color: #fff; /* Белый цвет текста */

  }

  .btn-transparent:hover {
    color: #000; /* Черный цвет текста при наведении */
    background-color: rgba(255, 255, 255, 0.5); /* Прозрачный белый фон */
    border-color: #fff; /* Белый цвет рамки при наведении */
  }
  </style>

</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!-- Используем класс "me-auto" для автоматического выравнивания элементов по левому краю -->
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="navbar-brand" href="#">
      <img src="static/logo.jpg" alt="Bootstrap" width="50" height="50">
    </a>
    <!-- Кнопка Главная -->
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/action">Главная</a>
    </li>
    <!-- Выпадающий список Маршруты -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Маршруты
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/first">Маршрут 1</a></li>
        <li><a class="dropdown-item" href="/second">Маршрут 2</a></li>
          <li><a class="dropdown-item" href="/third">Маршрут 3</a></li>
        <li><a class="dropdown-item" href="/forth">Маршрут 4</a></li>
        <li><a class="dropdown-item" href="/fifth">Маршрут 5</a></li>
        <li><a class="dropdown-item" href="/six">Маршрут 6</a></li>
      </ul>
    </li>
  </ul>
  <!-- Кнопки регистрации и авторизации -->
  <div>
   <a href="#" class="btn btn-primary btn-transparent me-2">Регистрация</a>
  <a href="#" class="btn btn-danger btn-transparent">Авторизация</a>
</div>
</div>
  </nav>
    </header>
    <h1>Добро пожаловать в исследование Москвы!</h1>

    <h2>Библиотека им. Ленина</h2>
    <img src="static/маршрут1.jpg" alt="Маршрут №1" style="float: right;">
    <p>
        Добрый день, вечер или утро. Всем здравствуйте!<br>

Наш маршрут начинается на станции метро «Библиотека им. Ленина», которая сама по себе представляет интерес, так как была открыта в 1973 году и является частью Сокольнической линии, первой линии московского метрополитена.

Первая остановка - Библиотека им. Ленина. Здесь расположена одноименная библиотека, основанная в 1862 году. Сегодня это культурное пространство с богатым собранием книг и литературных сокровищ. В библиотеке хранится более 10 миллионов единиц хранения, включая редкие книги, рукописи, карты и фотографии.
    </p>

    <h2 align=center><img src="static/Библиотека Ленина.jpg" alt="Библиотека Ленина" width ="600" height="600"></h2>
    <h2>Улица Волхонка. Дом Пашкова</h2>
   <p>
        Пройдемся по улице Волхонка, где находится Дом Пашкова. Этот дворец, построенный в стиле барокко, привлекает внимание своей архитектурой и историей. Первоначально принадлежавший дворянскому роду Пашковых, здесь сегодня размещается редкая книжная коллекция Российской академии наук. В Доме Пашкова также находится музей, посвященный истории и культуре России.
    </p>
    <h2 align=center><img src="static/дом Пашкова.jpg" alt="Дом Пашкова" width ="500" height="500"></h2>

    <h2>Государственного музея изобразительных искусств имени А.С. Пушкина</h2>
	<img src="static/ГМИИ Пушкина.jpg" alt="Государственного музея изобразительных искусств имени А.С. Пушкина" class="leftimg" width ="600" height="600">
    <p>
      Продолжим маршрут до Государственного музея изобразительных искусств имени А.С. Пушкина, где можно насладиться произведениями искусства различных эпох и стилей. Следующая остановка – Храм Христа Спасителя, величественное сооружение, восстановленное после разрушения в советское время. Этот храм является одним из самых высоких зданий в мире и символом Москвы.
	</p>

    <h2 style="margin: 300px 0 20px;">Парк Культуры</h2>
    <img src="static/Новая Третьяковка.jpg" alt="Новая Третьяковская галерея" style="float: right;" width ="500" height="500">
    <p>
        Пройдем по Пречистенской набережной, погрузимся в атмосферу старой Москвы. Поднимемся на Крымский мост, откуда открывается великолепный вид на город и реку. На противоположном берегу нас ждет Парк культуры и отдыха имени Горького, место отдыха и культурных мероприятий, где можно насладиться зеленью и атмосферой старой Москвы.
Следующая точка - Новая Третьяковка, хранящая богатую коллекцию русского искусства XX века. Рядом с музеем находится Музеон, уникальный парк современного искусства под открытым небом, где можно насладиться скульптурами известных художников. В Музеоне представлены работы таких мастеров, как Александр Архипенко, Марк Шагал, Анри Матисс и многих других.

    </p>

    <h2 style="margin: 300px 0 20px;">ГЭС-2.Репинском сквере.</h2>
    <img src="static/ГЭС-2.jpg" alt="ГЭС-2"  width="600" height="600" class="leftimg" >
    <p>
       Пройдем по Якиманской набережной, попутно встречая ГЭС-2, здание энергетической станции с необычной архитектурой. Переместимся к Большой глине №4, что представляет собой интересное здание, сочетающее в себе элементы разных стилей. Это здание было построено в 1930-х годах и является примером конструктивизма.

       Остановимся на Репинском сквере, где можно насладиться тишиной и красотой природы в центре города. Пройдем Болотную улицу, ощутим дух старой Москвы, и перейдем Большой Мокворецкий мост, предоставляющий потрясающие виды на Кремль и Москву-реку.
    </p>

    <h2>Красная площадь</h2>
    <img src="static/Центр Москвы.jpg" alt="Центр Москвы"  width="500" height="500" style="float: right;" >
    <p style="margin: 50px 0 0;">

        Это лишь краткое введение в богатую историю и архитектуру Москвы. В каждой точке маршрута скрыты уникальные факты и истории, придающие этому городу неповторимый характер. Приятного путешествия! </p>

        <script src="static/bootstrap.bundle.js"></script>
</body>
</html>
