

<!DOCTYPE html>
<html lang="ru">
<head>
     <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moscow Exploration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
   .leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
   }
   .rightimg  {
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
   }
   .navbar {
      background-color: rgba(0, 0, 0, 0); /* Полностью прозрачный цвет фона */
       padding-top: 0; /* Убираем отступ сверху */
    }

    .navbar-brand,
    .nav-link {
      color: #343a40 !important; /* Темно-серый цвет текста */
      font-size: 30px; /* Увеличиваем размер шрифта на 5 пунктов */
    }



    .nav-item {
      margin-right: 20px; /* Увеличиваем расстояние между элементами */
    }

   .btn-transparent {
    color: #fff; /* Белый цвет текста */

  }

  .btn-transparent:hover {
    color: #000; /* Черный цвет текста при наведении */
    background-color: rgba(255, 255, 255, 0.5); /* Прозрачный белый фон */
    border-color: #fff; /* Белый цвет рамки при наведении */
  }
  </style>

</head>
<body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <!-- Используем класс "me-auto" для автоматического выравнивания элементов по левому краю -->
  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <a class="navbar-brand" href="#">
      <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Bootstrap" width="50" height="50">
    </a>
    <!-- Кнопка Главная -->
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/action">Главная</a>
    </li>
    <!-- Выпадающий список Маршруты -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Маршруты
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="/first">Маршрут 1</a></li>
        <li><a class="dropdown-item" href="/second">Маршрут 2</a></li>
          <li><a class="dropdown-item" href="/third">Маршрут 3</a></li>
        <li><a class="dropdown-item" href="/forth">Маршрут 4</a></li>
        <li><a class="dropdown-item" href="/fifth">Маршрут 5</a></li>
        <li><a class="dropdown-item" href="/six">Маршрут 6</a></li>
      </ul>
    </li>
  </ul>
  <!-- Кнопки регистрации и авторизации -->
  <div>
   <a href="#" class="btn btn-primary btn-transparent me-2">Регистрация</a>
  <a href="#" class="btn btn-danger btn-transparent">Авторизация</a>
</div>
</div>
  </nav>
    </header>
    <h1>Добро пожаловать в исследование Москвы!</h1>
    <img src="{{ url_for('static', filename='маршрут4.jpg') }}" alt="Маршрут №3" style="float: right;">
    <p>
        Добрый день, вечер или утро. Всем здравствуйте!<br>
        Сегодня мы с вами отправимся в путешествие по самому известному месту в Москве – Арбату! Возможно, это самый короткий наш маршрут, но не менее интересный! И мы начинаем!
    Первая остановка, как обычно, станция метро и в этот раз – Библиотека имени Ленина. Это одна из первых станций метро. Она названа в честь библиотеки, которая находится прямиком над самой станцией. Библиотека имени Ленина – самая крупная публичная библиотека в стране и одна из крупнейших в мире.
        </p>

    <h2>Библиотека им.Ленина</h2>
    <h2 align=center><img src="{{ url_for('static', filename='1a.jpg') }}" alt="Библиотека"  width="500" height="500"></h2>

    <p>
        Первая остановка, как обычно, станция метро и в этот раз – Библиотека имени Ленина. Это одна из первых станций метро. Она названа в честь библиотеки, которая находится прямиком над самой станцией. Библиотека имени Ленина – самая крупная публичная библиотека в стране и одна из крупнейших в мире.
        Она была основана в 1862 году. Фонды пополнялись за счёт библиотек Петербурга и стараний москвичей, передававших ценные рукописи и издания в дар. С 1921 года библиотека стала национальным книгохранилищем. Через три года учреждению присвоили имя Ленина.
    </p>
        <h2 align=center><img src="{{ url_for('static', filename='2a.jpg') }}" alt="Зал"  width="400" height="400""></h2>
    <p>
        Также в здании библиотеки находится музей книги. А в ней находится более 30-ти читальных залов.
    </p>

    <h2>Воздвиженка</h2>
    <h2><img src="{{ url_for('static', filename='3a.jpg') }}" alt="Дом Пашкова"  width="400" height="400"></h2>
    <p>
       Выйдя из метро, мы отправляемся гулять по улице Воздвиженка. На пути нам встретиться музей архитектуры имени Щусева. А также особняк Морозова - здание, сочетающее элементы модерна и эклектики, представляет собой уникальный для московской архитектуры образец яркой и экзотической стилизации в неомавританском духе.
Особняк построен в 1895–1899 годах архитектором Виктором Мазыриным по заказу миллионера Арсения Абрамовича Морозова.
В настоящее время особняк известен как Дом приёмов Правительства России.
    </p>
    <h2 align=center><img src="{{ url_for('static', filename='4a.jpg') }}" alt="Храмик"  width="400" height="400"></h2>
    <p>
        Также на этой улице есть очень много доходных домов, но мы сворачиваем с Нового Арбата на улицу Поварскую улицу. Здесь стоит Церковь Симеона Столпника в Москве — это один из образцов московского приходского храма XVII века в стиле «узорочья».
Храм имеет типичную для своего времени планировку: примыкающие друг к другу четверик, трапезная и колокольня выстроены по одной линии с востока на запад. Четверик храма перекрыт сомкнутым сводом и увенчан пятью главами на глухих барабанах, с востока продолжен трехчастной апсидой. По обеим сторонам трапезной выстроены два придела, каждый со своей главой и апсидой.
С севера, подчеркивая связь храма с Поварской улицей, к четверику примыкает крыльцо с двускатной крышей на массивных столбах. Здание возведено из большемерного кирпича на белокаменном цоколе.
Главный престол храма освящен в честь праздника Введения. Храмом Симеона Столпника церковь именуется по одному из приделов.
В советское время храм был закрыт (не позднее 1940 года), предполагался на слом, стоял в руинированном состоянии. При строительстве Нового Арбата церковь была отреставрирована с максимальным восстановлением облика XVII века.
Возвращен верующим в 1992 году, богослужения возобновлены.
    <h2 align=center><img src="{{ url_for('static', filename='5a.jpg') }}" alt="дом Лермантова"  width="400" height="400"></h2>
    </p>

    <p>
        Пройдя чуть дальше вглубь, можно посетить дом-музей М.Ю.Лермантова – известного русского писателя и поэта. В этом особняке Лермонтов прожил со своей бабушкой Елизаветой Арсеньевой c 1829 по 1832 год.
    <h2 align=center><img src="{{ url_for('static', filename='6a.jpg') }}" alt="Куклы"  width="400" height="400"></h2>
    </p>

    <p style="margin: 50px 0 0;">
А еще дальше по этой улице находится музей мёртвых кукол - единственный в мире Музей страшных кукол, собравший коллекцию из 350 экспонатов, созданных самыми безумными кукольниками планеты.
В экспозиции музея представлена внушительная коллекция мрачного кукольного искусства с обширной палитрой характеров. Своей целью организаторы поставили не только напугать посетителей, но и рассказать об их культурном значении.
     <h2 align=center><img src="{{ url_for('static', filename='7a.jpg') }}" alt="Цветаева"  width="400" height="400"></h2>
    </p>

    <p>
        Если хотите и не боитесь – можете зайти, но, а мы пойдем дальше. Ведь дальше, сквозь дворы, можно посетить еще один дом-музей только уже посвященный великолепной поэтессе – Марины Цветаевой. Здесь Цветаева проживала вместе со своей семьёй с 1914 по 1922 год.
    <h2 align=center><img src="{{ url_for('static', filename='8a.jpg') }}" alt="Тверская1"  width="400" height="400"></h2>

    </p>

    <p>
        А сейчас мы спустимся по Борисоглебскому переулку на Новый Арбат. Новый Арбат — это известная туристическая улица России, построенная в самом центре Москвы в 1960-х годах. Она протянулась через переулки Старого Арбата и представляет собой продолжение Воздвиженки.
Улица является частью автодороги М1 «Беларусь» и одной из самых знаменитых улиц столицы благодаря многочисленным достопримечательностям, расположенным на ней.
К архитектурным особенностям ансамбля Нового Арбата можно отнести сочетание дореволюционных сооружений и девяти высоток, возведённых в советское время. Улица названа по имени соседней улицы Арбат, по которой мы тоже сегодня пройдемся.
        <h2 align=center><img src="{{ url_for('static', filename='9a.jpg') }}" alt="Тверская2"  width="400" height="400"></h2>
    </p>

    <p>
       Пройдя Новый Арбат, мы свернем на Краснопресненскую набережную, чтобы увидеть величественное здание Дома Правительства. Не будем долго задерживаться, а пойдем в обратном направлении по Смоленской набережной. На ней находится не менее величественное здание Посольства Великобритании.
        <h2 align=center><img src="{{ url_for('static', filename='10a.jpg') }}" alt="Тверская2"  width="400" height="400"></h2>
    </p>

    <h2>Смоленская.Арбат</h2>
    <h2 align=center><img src="{{ url_for('static', filename='11a.jpg') }}" alt="Маяковская"  width="400" height="400"></h2>
    <p>
        А теперь мы завернем на Смоленскую улицу. Мы увидим здание Министерства Иностранных дел и пойдем по Арбату!
        <h2 align=center><img src="{{ url_for('static', filename='12a.jpg') }}" alt="Патриаршие пруды"  width="600" height="600"></h2>
    </p>

    <h2 align=center> <font size="30" color="black">Арбат — это самая известная улица в Москве.</font></h2>
<img src="{{ url_for('static', filename='13a.jpg') }}" alt="Скамейка"  width="400" height="400" align=center>
    <p>
        Когда-то здесь располагались доходные дома, гостиницы, магазины. Сейчас Арбат представляет собой пешеходную улицу длиной 1 200 метров между Пречистенкой и Новым Арбатом, от площади Арбатские ворота до Смоленской площади.
На Арбате находятся:
•  знаменитый ресторан «Прага»,
    </p>
    <img src="{{ url_for('static', filename='14a.jpg') }}" alt="Московский планетарий"  width="400" height="400" align=center>
    <p>
        Государственный академический театр им. Е. Вахтангова,
    </p>
    <img src="{{ url_for('static', filename='15a.jpg') }}" alt="Кудринская Площадь"  width="400" height="400" align=center>
    <p>
        Центральный дом актёра,
    </p>
   <img src="{{ url_for('static', filename='16a.jpg') }}" alt="Московский зоопарк"  width="400" height="400" align=center>
    <p>
       памятник Булату Окуджаве,
    </p>
    <img src="{{ url_for('static', filename='17a.jpg') }}" alt="Храмик"  width="400" height="400" align=center>
    <p>
       музей-квартира А. С. Пушкина и множество других достопримечательностей,
    </p>
    <img src="{{ url_for('static', filename='18a.jpg') }}" alt="Стена Цоя"  width="400" height="400" align="center">
    <p>
        Стена Цоя.
    </p>
    <p>
        Первое документальное упоминание района датируется XV веком — летописец сохранил в истории память о сильном пожаре в церкви Николы на Песках. Сама церковь была снесена в XX веке и до наших дней не дошла.
В XV-XVI веках большая часть территории современного Арбата называлась «вспольем» — незаселенной местностью рядом с крупным городом.
Уже в XVII веке здесь располагались трудовые слободы ремесленников, профессии которых сохранились в названиях улиц и переулков Арбата.
Во второй половине XVIII века возникли знаменитые арбатские переулки, во многом формирующие облик района.
Вплоть до XIX века в этой местности селились небогатые ремесленники и дворяне. Затем переулки Арбата облюбовала знать — здесь располагались имения Голицыных, Толстых, Пушкиных.
    </p>
    <h2>Гоголевский бульвар</h2>
    <p>
Выйдя с Арбата, мы пойдем по Гоголевскому бульвару. Как ясно из названия – посвящена Н.В. Гоголю - русский прозаик, драматург, критик и публицист, признанный одним из классиков русской литературы.</p>
        <h2 align=center><img src="{{ url_for('static', filename='19a.jpg') }}" alt="Московский зоопарк"  width="400" height="400"></h2>
    <p>
        Происходил из старинного малороссийского дворянского рода Гоголей-Яновских. Тут же стоит его памятник, но есть и памятники, посвященные другим известным личностям.
Тут же находится современный музей шахмат и музей современного искусства. Гоголевский бульвар нас приведет нас к станции метро «Кропоткинская». Там же мы можем увидеть Храм Христа Спасителя - кафедральный собор Русской православной церкви.
    </p>
    <h2 align=center><img src="{{ url_for('static', filename='20a.jpg') }}" alt="Московский зоопарк"  width="600" height="600"></h2>
    <p>
    <img src="{{ url_for('static', filename='21a.jpg') }}" alt="Московский зоопарк"  width="400" height="400" style="float: right">
        Храм Христа Спасителя в Москве был построен в память о победе в войне 1812 года. Заложен храм в 1839 году по проекту архитектора Константина Тона. Строительство продолжалось 44 года. Храм был освящен в 1883 году. В 1931 году в период борьбы с церковью и религией, храм был взорван советской властью. Храм и по сей день работает и принимает как москвичей, так и гостей столицы.
С ним также связано несколько интересных историй. Одной из таких историй является идея о сносе храма и строительстве на его месте Дворца Советов – неосуществлённый и очень масштабный проект строительства высотного административного здания в Москве для проведения сессий Верховного Совета СССР и массовых демонстраций. План архитектора Бориса Иофана предполагал, что высота Дворца Советов вместе с венчающей его стометровой статуей Владимира Ленина составит 415 м. Дворец должен был стать центром новой советской Москвы и самым высоким зданием в мире, символизирующим победу социализма. Проектирование и начало строительства дворца ознаменовало переход к сталинскому ампиру в советской архитектуре.

    </p>
    <p>
    А сейчас, увы, мы должны заканчивать. Спасибо, что еще раз прошлись с нами! Всего вам доброго!
    </p>
    <script src="static/bootstrap.bundle.js"></script>
</body>
</html>
